<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <%var i=0;
    var j=1%>
  <%sliderData.forEach((item)=>{%>   
           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i++%>" class="<%=item.class%>" aria-current="true" aria-label="Slide <%=j++%>"></button>
     <%})%>
          </div>

    
          <div class="carousel-inner">
    <%sliderData.forEach((item)=>{%>
            <div class="carousel-item <%=item.class%>">
                <img src="<%=item.imageUrl%>" class="d-block w-100 sliderimage" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><%=item.Title%></h5>
                    <p><%=item.doc%></p>
                  </div>
            </div>
            <%})%>
          </div>
        
        <button class="carousel-control-prev bg-dark " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden ">Previous</span>
        </button>
        <button  class="carousel-control-next bg-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </div>