<%-include('./partials/header.ejs')%>
<%-include('./partials/navbar.ejs',{placeholder:'home',Data})%>
<%-include('./partials/slider.ejs',{placeholder:'home',sliderData})%>

<!-- services -->

<section id="services" class="bg-services">
  <div class="container py-4 ">
    <hr><h2 class="text-center text-secondary">Our Services</h2>
    <div class="row py-3 text-center">
        <%servicesData.forEach((item)=>{%>
        <div class="col-md-4 py-4 text-center">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="text-center icon-style text-secandary" >
                            <i class="<%=item.icon%>"></i>
                        </div>
                        <h4 class="card-title text-center text-secondary"><%=item.Title%></h4>
                        <p class="card-text"><%=item.Paragraph%></p>
                        <a href="<%=item.links%>" >Click</a>
                    </div>
                </div> 
            </div>
            <%})%>
    </div>
  </div>
</section>

<!-- contact -->
<section id="contact" class="bg-contact">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Contact us</h1>
            <div class="col-md-12">
                <form method="post" action="/contact">
                    
                    <div class="mb-3">
                      <label for="Name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="Name" name="name" placeholder="Enter Your Name">
                    </div>
                    
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email">
                    </div>

                    <div class="mb-3">
                      <label for="Comment" class="form-label">Comment</label>
                      <input style="height:200px;" type="text" class="form-control" id="Comment" name="comment" placeholder="Comment">
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>

<!-- about -->

<section id="about" class="bg-dark">
    <div class="container  ">
        <div class="row">
            <div class="col-md-12 text-center ">
                <h1 class="text-secondary">About Us</h1>
                <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam vel doloribus optio quas similique! Vitae eius mollitia rerum, debitis perspiciatis voluptates quod esse earum error nisi optio est architecto impedit!</p>
        
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<section class="bg-footer">

    <div class="container">
        <div class="row  text-secondary text-center">
            <div class="col-md-12">
                <h6>This is FOoter</h6>
            </div>
        </div>
    </div>
</section>

<%-include('./partials/footer.ejs')%>
